openapi: 3.1.0
info:
  title: Wasel Analytics Service API
  version: v1
  description: Generated OpenAPI contract for the analytics bounded domain.
servers:
  - url: https://api.wasel.app
    description: Production
  - url: https://staging-api.wasel.app
    description: Staging
tags:
  - name: analytics
    description: insights-platform
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    requestSignature:
      type: apiKey
      in: header
      name: X-Wasel-Signature
paths:
  /v1/analytics/dashboard:
    get:
      tags:
        - analytics
      operationId: getGrowthDashboard
      summary: Read growth and corridor metrics.
        security:
          - bearerAuth: []
          - requestSignature: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication failed
        '429':
          description: Rate limited
        '500':
          description: Internal platform error
  /v1/analytics/events:
    post:
      tags:
        - analytics
      operationId: trackGrowthEvent
      summary: Append a domain analytics event.
        security:
          - bearerAuth: []
          - requestSignature: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication failed
        '429':
          description: Rate limited
        '500':
          description: Internal platform error
