openapi: 3.1.0
info:
  title: Wasel Notifications Service API
  version: v1
  description: Generated OpenAPI contract for the notifications bounded domain.
servers:
  - url: https://api.wasel.app
    description: Production
  - url: https://staging-api.wasel.app
    description: Staging
tags:
  - name: notifications
    description: communications-platform
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    requestSignature:
      type: apiKey
      in: header
      name: X-Wasel-Signature
paths:
  /v1/notifications:
    get:
      tags:
        - notifications
      operationId: getNotifications
      summary: List notifications.
        security:
          - bearerAuth: []
          - requestSignature: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication failed
        '429':
          description: Rate limited
        '500':
          description: Internal platform error
    post:
      tags:
        - notifications
      operationId: createNotification
      summary: Create an in-app notification and optional deliveries.
        security:
          - bearerAuth: []
          - requestSignature: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication failed
        '429':
          description: Rate limited
        '500':
          description: Internal platform error
  /v1/notifications/{id}/read:
    post:
      tags:
        - notifications
      operationId: markNotificationAsRead
      summary: Mark a notification as read.
        security:
          - bearerAuth: []
          - requestSignature: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication failed
        '429':
          description: Rate limited
        '500':
          description: Internal platform error
