openapi: 3.1.0
info:
  title: Wasel Payments Service API
  version: v1
  description: Generated OpenAPI contract for the payments bounded domain.
servers:
  - url: https://api.wasel.app
    description: Production
  - url: https://staging-api.wasel.app
    description: Staging
tags:
  - name: payments
    description: payments-platform
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    requestSignature:
      type: apiKey
      in: header
      name: X-Wasel-Signature
paths:
  /payments/confirm:
    post:
      tags:
        - payments
      operationId: confirmPaymentIntentRuntime
      summary: Confirm a payment intent and return settlement state.
      security:
        - bearerAuth: []
        - requestSignature: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication failed
        '429':
          description: Rate limited
        '500':
          description: Internal platform error
  /payments/create-intent:
    post:
      tags:
        - payments
      operationId: createPaymentIntentRuntime
      summary: Create a payment intent for card, wallet, or subscription flows.
      security:
        - bearerAuth: []
        - requestSignature: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication failed
        '429':
          description: Rate limited
        '500':
          description: Internal platform error
  /payments/status:
    post:
      tags:
        - payments
      operationId: getPaymentIntentRuntimeStatus
      summary: Read payment intent status after webhook processing.
      security:
        - bearerAuth: []
        - requestSignature: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication failed
        '429':
          description: Rate limited
        '500':
          description: Internal platform error
