openapi: 3.1.0
info:
  title: Wasel User-settings Service API
  version: v1
  description: Generated OpenAPI contract for the user-settings bounded domain.
servers:
  - url: https://api.wasel.app
    description: Production
  - url: https://staging-api.wasel.app
    description: Staging
tags:
  - name: user-settings
    description: identity-platform
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    requestSignature:
      type: apiKey
      in: header
      name: X-Wasel-Signature
paths:
  /user-settings:
    get:
      tags:
        - user-settings
      operationId: getUserSettings
      summary: Read user settings and preferences.
        security:
          - bearerAuth: []
          - requestSignature: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication failed
        '429':
          description: Rate limited
        '500':
          description: Internal platform error
    put:
      tags:
        - user-settings
      operationId: updateUserSettings
      summary: Update user settings and preferences.
        security:
          - bearerAuth: []
          - requestSignature: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication failed
        '429':
          description: Rate limited
        '500':
          description: Internal platform error
